body { background: #f0f0eb; }
time { display: block; font-size: 0.9em; }

.content-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.row-fluid .span8 { margin: 0; }

.is-all, .is-javascript, .is-css { font-weight: bold; }
.filter-all li { opacity: 1em; }
.filter-javascript .css,
.filter-css .javascript { opacity: 0.3; }

.is-active { font-weight: bold; }